
:root {
  --too-low-percentage: 0%;
  --too-high-percentage: 0%;
}

.body {
  text-align: center;
  color: #eaf1fd;
  background-image: linear-gradient( #515a6a,#1e2128);
  min-height: 100vh;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

h1 {
  color: rgb(153, 255, 0);
  margin: 15px;
  overflow-wrap: breakword;
  word-wrap: break-word;
}

p {
  margin: 0;
  margin-bottom: 3px;
  padding: 0 25% 0 25%;
  font-size: 18px;
  margin-top: 5px;
  font-weight: bold;
}

input {
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: none;
  background-color: #303235;
  font-size: 25px;
  color: #eaf1fd;
  border-radius: 5px;
  caret-color: rgb(153, 255, 0);
}

.difficulty {
  margin-bottom: 25px;
}

.label {
  margin-bottom: -6px;
}

.input-field {
  margin-top: 15px;
}

.replay-button {
  margin-top: 25px;
  margin-bottom: 50px;
}

.replay {
  text-align: center;
  margin-top: 2px;
  margin-left: 5px;
  color: #313640;
}

.number-input {
  height: 75px;
  width: 200px;
  text-align: center;
  margin-bottom: 1px;
  margin-top: 2px;
  font-size: 50px;
  font-weight: bold;
}

.number-input:focus {
  border-style: groove;
  border-right-style: groove;
  border-bottom-style: groove;
  padding-right: 0px;
  margin-bottom: -1px;
  border-color: rgb(153, 255, 0);
}

.range-indicator-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.range-container {
  margin-bottom: 25px;
}

.range-indicator {
  display: flex;
  width: 34%;
  /* background-color: green; */
  border-radius: 5px;
}

.low-guess {
  width: 33%;
  margin: 0 5px 0 0;
  font-weight: bold;
  text-align: right;
  font-size: 18px;
}

.too-low {
  width: var(--too-low-percentage);
  /* width: 25%; */
  background-color: #5f2b2b;
  border-radius: 5px 0 0 5px;
}

.green-zone {
  min-width: 1%;
  width: calc(100% - (var(--too-low-percentage) + var(--too-high-percentage)));
  background-color: rgb(153, 255, 0);
  border-radius: 5px;
}
.too-high {
  width: var(--too-high-percentage);
  /* width: 25%; */
  background-color: #5f2b2b;
  border-radius: 0 5px 5px 0;
}

.high-guess {
  width: 33%;
  margin: 0 0 0 5px;
  font-weight: bold;
  text-align: left;
  font-size: 18px;
}


select {
  color: #eaf1fd;
  height: 25px;
  width: 90px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #303235;
  outline: none;
  border: none;
}

.target-guesses-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.target-guesses {
  /* TODO: fix centering when only 5 icons per row */
  /* display: flex; */
  /* justify-content: center; */
  margin: 0 15px 0 15px;
  width: 150px;
  font-size: 30px;
  overflow: auto;
  word-break: break-all;
}

.green {
  color: rgb(153, 255, 0);
  transition: color 1.5s ease-out;
}

.grey {
  color: #939ba8;
}

.red {
  color: red;
  transition: color 0.5s ease-out;
}

button {
  height: 50px;
  width: 75px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 25px;
  background-color: #eaf1fd;
  border-radius: 10px;
  background-color: rgb(153, 255, 0);
}
